
* {
  box-sizing: border-box;
}

body{
  padding:2%;

}

.contact{
  display: flex;
  align-items: center;
  border-top: 1.5px #0a3f74 solid;
  border-bottom: 1.5px #0a3f74 solid;
  height:700px;
  flex-direction: column;
  background-color: #F0F8FF;


}
.errors{
  color: red;
  /*border:2px solid black;*/
}

.name{
  color: #0a3f74;

}

label{
color: #0a3f74;
margin-left: 1%; 
}
.contact-form{

  width: 52%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullname, .email-address{
  display: flex;
  flex-direction: column;
  /*border: 2px black solid;*/
  height: 110px;
  /*justify-content:space-between*/;
  width: 75%;
  margin-bottom: 2%;

}
.error-message{
  margin: 0;
  /*border:2px solid red;*/
  padding: 0;
  color: red;
  height: 30%;
  display:flex;
  align-items: center;

}
.error{
  margin-left: 5%;
}
.name-input, .email-input{
  height: 40%;
  margin-bottom:1%;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 1%;
  /*border: 2px solid blue;*/
  size: 20px;
}

.content{
  height: 340px;
  display: flex;
  flex-direction: column;
  /*border: 2px solid blue;*/
  width: 75%;
  padding: 0;
  margin-bottom: 2%;
}

.message-body{
  height: 75%;
  margin-top: 1%;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 1%;
}


.error-for-message-body{
  margin: 0;
  /*border:2px solid red;*/
  padding: 0;
  color: red;
  height:14%;
  display: flex;
  align-items: center;
}

.submission{
  height: 60px;
  /*border: 2px solid blue;*/
  width: 60%;
  display: flex;
  justify-content: center;

}
#submit{
  width: 50%;
  background-color:rgba(208,240,192);
  border-radius: 2px;
 color: #0a3f74;
 font-size: 18px;
 border-width: 1px;

}

.bottom-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border:2px solid black;*/
  bottom: 0;
  height: 100px;
  align-items: center;
  padding: 0 2% 0 2%


}

.previous, .home, .next{
  background-color: #F0F8FF;
  border-radius: 10%;
  color: #0a3f74;
  text-decoration: none;
  height: 45px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  #0a3f74;
  font-size: 18px;

}

.previous:hover, .home:hover, .next:hover{
  opacity: 0.7;
  width: 92px;
  height: 47px;
  border: 1.5px solid  #0a3f74

}

@media screen and (max-width: 1050px){

  .contact-form{
    padding-top: 1%;
  /*border: 2px solid purple;*/
    width: 65%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 800px){

  .contact-form{
    padding-top: 1%;
  /*border: 2px solid green;*/
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



@media screen and (max-width: 650px){

  .contact-form{
    padding-top: 1%;
  /*border: 2px solid blue;*/
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 450px){

  .contact-form{
    padding-top: 1%;
  /*border: 2px solid blue;*/
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
