<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/contact_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav2.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/contact.js" ></script>
  </head>
  <body>
  <div class="contact">
    <h4 class="name"> Don't hesitate to get in touch</h4>
    <form action="submit_form" method="post" class='contact-form'>
    <div class='fullname'>
    <input id = "csrf_token" name = "csrf_token" type = "hidden" />
    <label class='name' for="name" >
      Full Name:
    </label>
    <input class ="input-field" type="text" id="name" name="name" placeholder="Print your full name">
  </div>
  <div class='email-address'>
  <label class='name' for="email">
   Email address:
  </label>
  <input class ="input-field" type="email" id="email" name="email" placeholder="you@email.com">
   </div>

   <div class='content'>
     <label class='name' for="name">
       Message:
     </label>
    <textarea class="message-field" type="text" id="body" name="body" placeholder="Write your message"></textarea>

  </div>
  <div class='submission'>
    <input class='submit-field' type="submit" value="Send">
  </div>
  </form>


  </div>

  <div class="bottom-navigation">

  <a href="#" class="previous"> &#8249; Previous</a>

  <a href="#" class=" home "> Home</a>

  <!--<a href="#" class="next"> Next &#8250;</a>-->

  </div>
  </body>
</html>
