<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>experience</title>

    <link rel="stylesheet" href="../static/experience_style.css">
      <link rel="shortcut icon" href="{{ url_for('static', filename='fav2.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/experience.js" ></script>

  </head>
  <body>
  <div class="education">
    <h3 class="education-heading"> Education</h3>
    <h4 class="education-subheading">Tertiary</h4>
    <hr class="hr-line">
    <div class="degrees">
 <div class='degree-details'>
   <div class='institution'> <p class="symbol">&#127979;</p> <p class='name'>Charles Stuart University, New South Wales</p> </div>
   <div class='degree-name'> <p class="symbol">&#127891;</p> <p class='name'> Master of Information Technology</p> </div>
   <div class="completion-year"> <p class="symbol">&#128197;</p class='year'> <p class ="year">2020</p> </div>
 </div>

 <div class='degree-details'>
   <div class='institution'> <p class="symbol">&#127979;</p> <p class='name'>	Flinders University, South Australia</p> </div>
   <div class='degree-name'> <p class="symbol">&#127891;</p> <p class='name'>Bachelor of Science (Honours) in Hydrogeologyy </p> </div>
   <div class="completion-year"> <p class="symbol">&#128197;</p> <p class='year'>2009</p> </div>
 </div>

 <div class='degree-details'>
   <div class='institution'> <p class="symbol">&#127979;</p> <p class='name'>	Flinders University, South Australia</p> </div>
   <div class='degree-name'> <p class="symbol">&#127891;</p> <p class='name'> Bachelor of Science - Major in Earth Sciences & Minor in Chemistry </p> </div>
   <div class="completion-year"> <p class="symbol">&#128197;</p > <p class='year'>2008</p> </div>
 </div>
     </div>

</div>



    <div class="experience">
      <h4 class="subheading"> Experience</h4>
      <hr class="hr-line">
      <div class=experience-subheading>
      <p class="each-subheading">Duration</p>
      <p class="each-subheading">Position</p>
      <p class="each-subheading">Responsibilities</p>
    </div>

    <div class="pass-experience first">
    <div  class="employment-period">
    <p>October 2020 – Present</p>

    </div>
    <div class="position">
      <p>
        Freelance software and Cloud Developer
      </p>
      </div>
      <div class="responsibilities">
        <p> Self-employed – Perth, WA</p>
      <ul>
      <li>
        Fullstack develeopemt: React, Nodejs, MonjoDb, Javascript, Python, Html, and CSS

      </li>
      <li>
        Google Firebase developemt and deployment;
      </li>
      <li>
        Data science and engineering, and machine learning;
      </li>
      <li>
        Cloud Solution Architect – AWS, and Cloud Developer – Google Cloud Platform;
      </li>

    </ul> </div>

  </div>
      <div class="pass-experience second">
      <div  class="employment-period">
      <p>March 2018 – November 2018</p>

      </div>
      <div class="position">
        <p>
          Contract Hydrogeologist
        </p>
        </div>
        <div class="responsibilities">
          <p> Forestscue Metal Group Ltd – Chichester and  Iron Bridge , WA</p>
        <ul>
        <li>
          Hydro-drilling programs coordination and  supervision;

        </li>
        <li>
          Data interpretations and modelling;
        </li>
        <li>
          Field activities including logging and monitoring;
        </li>
        <li>
          Liaising with other stakeholders including production and project development teams;
        </li>
      </ul> </div>

    </div>


         <div class="pass-experience third">
         <div  class="employment-period">
         <p>August 2012 - March 2017</p>
         </div>
         <div class="position">
           <p>
             Mine Geologist
           </p>
           </div>
           <div class="responsibilities">
             <p> Forestscue Metal Group Ltd – Solomon Mine, WA</p>
           <ul>
           <li>

             Coordinating mine geology short-term production objectives;

           </li>
           <li>

             Coordinating blast-holes sampling and laboratory activities;

           </li>
           <li>
             Implemenatting re-quality control and beneficiation;
           </li>
           <li>
             Field activities including pit, stockpiles inspections;
           </li>
           <li>
             Liaising with other stakeholders including short-term engineers and production team;
           </li>
         </ul> </div>
       </div>



        <div class="pass-experience fourth">
        <div  class="employment-period">
        <p>February 2010 - August 2012</p>
        </div>
        <div class="position">
          <p>
            Exploration Geologist
          </p>
          </div>
          <div class="responsibilities">
          <p> Minataur Exploration Ltd – SA</p>
            <ul>

            <li>

            Exploration geology and target generations;

          </li>

          <li>

            Drilling and sampling supervision;

          </li>
          <li>

          Field activities including logging and reporting;

          </li>
          <li>
            Supervising pilot plant operations;
            </li>

          </ul>
        </div>
          </div>

          <div class="pass-experience fifth">
          <div  class="employment-period">
          <p>February 2010 - January 2011</p>
          </div>
          <div class="position">
            <p>
              Graduate Environment Officier
            </p>
            </div>
            <div class="responsibilities">
            <p> Crocodile Gold Australia Operations Pty Ltd – Cosmo Mine, NT</p>
              <ul>

              <li>

                Coordinating site hydrogeologyy;

            </li>

            <li>

              monitoring and supervising site acid-waste drainage and seepage;

            </li>
            <li>

            Field activities including boreholes sampling and monotoring, and reporting;

            </li>


            </ul>
          </div>
            </div

  </div>

    <div class="bottom-navigation">

    <a href="#" class="previous"> &#8249; Previous</a>

    <a href="#" class=" home "> Home</a>

    <a href="#" class="next"> Next &#8250;</a>

    </div>

  </body>
</html>
