<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/profile_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav2.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/profile.js" ></script>
    <title>Profile</title>
  </head>
  <body>

    <h1 class='heading'>Profile</h1>
    <p class='sub-heading'> Geosciences & Information Technology Enthusiast </p>

    <hr class='top-hr'>
    <div class="container">

      <div class="container-item left-side">
          <img src="../static/assets/myprofile_page.jpg" alt="my personal picture">

      </div>

      <div class="container-item centre-side">
       <table>
         <tr>
           <th><h3 class='table-heading'>Details</h3></th>

         </tr>
         <tr>
           <td><strong>Name:</strong></td>
         </tr>

           <tr>
           <td>Fumba Donzo</td>
         </tr>
         <tr>
           <td><strong>Age:</strong></td>
         </tr>
         <tr>
          <td>34 years</td>
         </tr>
           <tr>
           <td><strong>Loaction:</strong></td>
         </tr>
         <tr>
           <td>Perth, Australia</td>
         </tr>
      </tr>
       </table>
       <!--

       <h3>Details</h3>
       <p>Name:</p>
       <p>Fumba Donzo</p>
       <p>Age:</p>
       <p>33 years</p>
       <p>Place Of Residency:</p>
       <p>Perth, Australia</p>
     -->

      </div>
      <div class="container-item right-side">

        <h3 class='table-heading'>Portrait</h3>

        <p>I am an experienced Geoscientist with more than 7 years experience in the Resource Industry,
          with the acquired experience both in production and exploration environments.
          Recently i have completed a Master of Information Technology,
          specialising both in Network, and Software Design and Development;
          since 2020, i have worked as a Frealance Software- and Cloud Developer,
          having completed both GCP Professional Developer and AWS Practioner Certificates.

        </p>

      </div>
    </div>

<hr class='bottom-hr'>

<div class="bottom-navigation">



<a href="#" class="previous"> &#8249; Previous</a>

<a href="#" class=" home "> Home</a>

<a href="#" class="next"> Next &#8250;</a>

</div>

  </body>
</html>
