<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Skill Sets</title>
    <link rel="stylesheet" href="../static/skill_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav2.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/skill.js" ></script>
  </head>
  <body>



 </div>

    <div class='technical_skills-container'>
      <h1 class='main-heading'> Technical Skills</h1>
      <!--<hr class='top-hr'>-->
    </div>

      <table class='table'>
        <tr class='row'>
          <th class='table-heading'>Information Technology</th>
          <th class='table-heading'>Geoscience</th>
        </tr>

        <tr class='row'>

          <td class="column">Programming languages: Python, Javascript & Java</td>
           <td class="column">Ore-Block Estimation & Creation</td>
        </tr  >

        <tr class='row'>
            <td class="column">Database Systems: Design, SQL & Modelling</td>
            <td class="column">Mine Hygiene & Ore-spotting</td>

        </tr>
        <tr class='row'>
          <td class="column">Data Science: Data-Analytic, statistic & Machine learning</td>
          <td class="column">Ore-Grade Quality Control & Textural Analysis</td>

        </tr>
        <tr  class='row'>
          <td class='column'>Computer Network: Design & System administration</td>
          <td class='column'>Pit-Geology Mapping</td>

        </tr>
        <tr class='row'>
        <td class='column'>Operation Systems: Microscoft & Unix/Linux </td>
        <td class='column'>Production Focused Geo-metallurgy</td>
        </tr>

        <tr class='row'>
          <td class='column'>Information Security & Crypotography</td>
          <td class='column'>QAQC-Assay Validation: Blast & RC Holes</td>

        </tr>

         <tr class='row'>
            <td class='column'>Cloud Computing: Development & Management  </td>
            <td class='column'>Structural & Lithological Interpretation</td>
         </tr>

         <tr class='row'>
           <td class='column'>Internet Technology: Full Stack web Development</td>
           <td class='column'>Drill Program Management</td>
         </tr>

         <tr class='row'>
          <td class='column'>Project Management: Agile & traditional methodologies</td>
          <td class='column'>Soil Geochemistry & Sediment Sampling Analysis</td>

         </tr>

         <tr>
           <td class='column'>SDLC:Analysis, Design, & Development</td>
           <td class='column'> Hydrogeological & Field Survey</td>

         </tr>

         <tr class='row'>
           <td class='column'></td>
           <td class='column'>Mining Softwares: Vulcan, Micromine, Acquire & ArcGIS</td>
         </tr>
         <tr class='row'>
           <td class='column'></td>
           <td class='column'>Mine Water Management</td>
         </tr>

         <tr  class='row'>
           <td class='column'></td>
          <td class='column'>Report Writing</td>
         </tr>

      </table>



      <div class="general_skills-container">
      <h1 class='main-heading'> General Skills & Attributes </h1>

      <hr class='top-hr'>
      <div class="generals_skills_details">
        <ul class=attributes>
       <li class="attribute"> Good written and verbal communication skills </li>
       <li class="attribute"> Ability to relate well to people of all ages and diverse cultural backgrounds </li>
       <li class="attribute">  Strong leadership skills </li>
       <li class="attribute">  Responsible, honest and trustworthy </li>
     </ul>
     <ul class='attributes'>
       <li class="attribute">  Ability to work well independently and effectively in a team </li>
       <li class="attribute">  Excellent contract negotiation and conflict resolution skills </li>
       <li class="attribute">  Willing to learn and quick at adapting to new environments </li>
       <li class="attribute">  Fluent in, Mandinke, English and French </li>
     </ul>
     </div>

     <div class="bottom-navigation">

     <a href="#" class="previous"> &#8249; Previous</a>

     <a href="#" class=" home "> Home</a>

     <a href="#" class="next"> Next &#8250;</a>

     </div>


  </body>
</html>
